<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html" charset="UTF-8">
    <title>Статистика по вакансии</title>
    <link th:href="@{/styles/ouroborosStyle.css}" type="text/css"  rel="stylesheet" >
</head>
<body>
<header>
    <nav>
        <ul>
            <li><h3><a href="http://localhost:8081/api/v1/ouroboros">OuroborosOdyssey</a></h3></li>
            <li><a href="http://localhost:8081/api/v1/statistics">Требования на должность</a></li>
            <li><a href="http://localhost:8081/api/v1/plans">Посмотреть план изучения</a></li>
            <li><a href="http://localhost:8081/api/v1/tasks">Планировщик</a></li>
            <li><a href="http://localhost:8081/api/v1/questions">Вопросы</a></li>
            <li><a href="http://localhost:8081/api/v1/auth">Личный кабинет</a></li>

        </ul>
    </nav>
</header>

<main>
    <section>
        <h3>Для кого это сайт</h3>
        <p>Этот сайт предназначен для амбициозных программистов, стремящихся стать успешными Java-разработчиками. Здесь вы найдете все необходимое для подготовки к собеседованию, планированию карьерного роста и укреплению знаний.</p>
    </section>
    <section>
        <h4>Основные функции</h4>
        <ul class="border">
            <li><strong>Требования на должность:</strong> Узнайте, какие навыки и знания необходимы для получения работы мечты.</li>
            <li><strong>Посмотреть план изучения:</strong> Персонализированный план обучения поможет вам систематизировать изучение Java.</li>
            <li><strong>Планировщик:</strong> Организуйте свои задачи и достигните целей благодаря интегрированному планировщику.</li>
            <li><strong>Вопросы:</strong> Подготовьтесь к собеседованию, изучив типичные вопросы и ответы.</li>
        </ul>
    </section>
    <section>
        <h4>Начните свое путешествие</h4>
        <p>Зарегистрируйтесь сегодня и получите доступ к эксклюзивным материалам, которые помогут вам не только успешно пройти собеседование, но и продолжать расти как профессионал. </p>
    </section>
</main>

<footer>
    <p id="foot">© 2024 OuroborosOdyssey. Все права защищены.</p>
</footer>
<script>
    document.addEventListener("DOMContentLoaded", function() {

    });
</script>
</body>
</html>