<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html" charset="UTF-8">
    <title>Статистика по вакансии</title>
    <!--  <link rel="icon"  th:src="@{/images/ourbor.png}" />-->
    <link th:href="@{/styles/plansStyle.css}" type="text/css"  rel="stylesheet" >
</head>
<body>
<header>
    <nav>
        <ul>
            <li><h3><a href="http://localhost:8081/api/v1/ouroboros">OuroborosOdyssey</a></h3></li>
            <li><a href="http://localhost:8081/api/v1/statistics">Требования на должность</a></li>
            <li><a href="http://localhost:8081/api/v1/plans">Посмотреть план изучения</a></li>
            <li><a href="http://localhost:8081/api/v1/tasks">Планировщик</a></li>
            <li><a href="http://localhost:8081/api/v1/questions">Вопросы</a></li>
            <li><a href="http://localhost:8081/api/v1/auth">Личный кабинет</a></li>

        </ul>
    </nav>
</header>

<main>
    <h4>Панель администратора</h4>

    <div class="form-container">
        <form id="createForm">
            <h3>Добавить тему</h3>

            <input type="text" id="title" placeholder="Заголовок темы" />
            <textarea id="answer" placeholder="Описание и рекомендации"></textarea>
            <input type="text" id="links" placeholder="Ссылки" />
            <button type="button" onclick="createQuestion()">Добавить</button>
            <div class="message-box" id="createMessage"></div>
        </form>


        <form id="updateForm" style="display;">
            <h3>Обновить </h3>
            <input type="hidden" id="updateId" />
            <input type="text" id="updateTitle" placeholder="Заголовок темы" />
            <textarea id="updateAnswer" placeholder="Описание и рекомендации"></textarea>
            <select class="themeSelect">
                <option value="">-- Выберите тему --</option>
                <option value="">Spring</option>

            </select>
            <input type="text" id="updateLinks" placeholder="Ссылки" />
            <button type="button" onclick="updateTheme()">Обновить</button>
            <div class="message-box" id="updateMessage"></div>
        </form>


    </div>


    <div class="main-content">
        <h3>План изучения</h3>
        <div id="plan-container">
            <div th:if="${plans != null}">
                <div class="card">
                    <div class="card-header">План изучения для разработчика: <span th:text="${plans.developer}"></span>
                    </div>
                    <div class="card-content">
                        <p>Темы:</p>
                        <ul>
                            <li th:each="theme : ${plans.theme}">
                                <div class="card">
                                    <div class="card-header">
                                        <span th:text="${theme.title}"></span></n>
                                        <button type="button" onclick="editTheme(${theme.id})">Изменить</button>
                                        <button type="button" onclick="deleteTheme(${theme.id})">Удалить</button>
                                    </div>
                                    <div class="card-content">
                                        <p>Описание:</p>
                                        <p th:utext="${theme.details}"></p>
                                        <p>Ссылки: <a th:href="${theme.links}" class="card-link"
                                                      target="_blank">Перейти</a></p>
                                        <p>Вопросы:</p>
                                        <ul>
                                            <li th:each="question : ${theme.questionsList}"
                                                th:text="${question.titleQuestions}"></li>

                                        </ul>

                                    </div>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <p id="foot">© 2024 OuroborosOdyssey. Все права защищены.</p>
</footer>
<script type="text/javascript" th:src="@{/js/plansJS.js}"></script>
</body>
</html>