<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html" ; charset="UTF-8">
    <title>Статистика по вакансии</title>
    <link rel="icon" th:src="@{/images/ourbor.png}"/>
    <link th:href="@{/styles/questionsStyle.css}" rel="stylesheet" type="text/css" />

</head>
<body>
<header>
    <nav>
        <ul>
            <!--            <li><svg><img th:src="@{/images/ourbor.png}"></svg></li>-->
            <li><h3><a href="http://localhost:8081/api/v1/ouroboros">OuroborosOdyssey</a></h3></li>
            <li><a href="http://localhost:8081/api/v1/statistics">Требования на должность</a></li>
            <li><a href="http://localhost:8081/api/v1/plans">Посмотреть план изучения</a></li>
            <li><a href="http://localhost:8081/api/v1/tasks">Планировщик</a></li>
            <li><a href="http://localhost:8081/api/v1/questions">Вопросы</a></li>
            <li><a href="http://localhost:8081/api/v1/auth">Личный кабинет</a></li>

        </ul>
    </nav>
</header>
<main>
    <h3>Панель администратора</h3>

    <div class="form-container">
        <form id="createForm">
            <h3>Добавить вопрос</h3>

            <input type="text" id="title" placeholder="Заголовок вопроса" />
            <textarea id="answer" placeholder="Ответ"></textarea>
            <select class="themeSelect">
                <option value="">-- Выберите тему --</option>
            </select>
            <input type="text" id="links" placeholder="Ссылка" />
            <button type="button" onclick="createQuestion()">Добавить</button>
            <div class="message-box" id="createMessage"></div>
        </form>


        <form id="updateForm" style="display;">
            <h3>Обновить вопрос</h3>
            <input type="hidden" id="updateId" />
            <input type="text" id="updateTitle" placeholder="Заголовок вопроса" />
            <textarea id="updateAnswer" placeholder="Ответ"></textarea>
            <select class="themeSelect">
                <option value="">-- Выберите тему --</option>
            </select>
            <input type="text" id="updateLinks" placeholder="Ссылка" />
            <button type="button" onclick="updateQuestion()">Обновить</button>
            <div class="message-box" id="updateMessage"></div>
        </form>

<!--        <form id="deleteForm" style="display;">-->
<!--            <h3>Удалить вопрос</h3>-->
<!--            <input type="text" id="deleteId" placeholder="ID вопроса" />-->
<!--            <button type="button" onclick="deleteQuestion()">Удалить</button>-->
<!--            <div class="message-box" id="deleteMessage"></div>-->
<!--        </form>-->
    </div>

    <!-- Боковая панель для выбора темы -->
    <div class="sidebar">
        <h3>Фильтр тем:</h3>
        <select class="themeSelect">
            <option value="">-- Выберите тему --</option>
            <option value="all">Все</option>
            <!--            <option th:each="theme : ${themes}" th:value="${theme.id}" th:text="${theme.name}">Тема 1</option>-->
        </select>
        <button onclick="fetchQuestionsByTheme()">Применить фильтр</button>
    </div>

    <div class="main-content">
        <h3>Вопросы с собеседований на Java Developer </h3>
        <div class="blockContent">
            <table>
                <thead>
                <tr>
                    <th>Тема</th>
                    <th>Вопрос</th>
                    <th>Cсылка</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="question : ${questions}">
                    <td th:text="${question.nameThemes}">Sample Theme</td>
                    <td th:text="${question.titleQuestions}" >Sample Title</td>
                    <td th:text="${question.links}">Sample Link</td>
                    <td><button onclick="showUpdateForm(${question.id})">Обновить</button></td>
                    <td><button onclick="showDeleteForm(${question.id})">Удалить</button></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="pagination">
            <button onclick="previousPage()">Предыдущая</button>
            <span id="page-number">1</span>
            <button onclick="nextPage()">Следующая</button>
        </div>

    </div>
</main>

<footer>
    <p id="foot">© 2024 OuroborosOdyssey. Все права защищены.</p>
</footer>

<script type="text/javascript" th:src="@{/js/questions.js}"> </script>
</body>
</html>
