<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta content="text/html" ; charset="UTF-8">
    <title>Статистика по вакансии</title>
    <link rel="icon" th:src="@{/images/ourbor.png}"/>
    <!--    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" />-->
    <link th:href="@{/styles/statisticsStyle.css}" rel="stylesheet" type="text/css" />


</head>
<body>
<header>
    <nav>
        <ul>
            <!--            <li><svg><img th:src="@{/images/ourbor.png}"></svg></li>-->
            <li><h3><a href="http://localhost:8081/api/v1/ouroboros">OuroborosOdyssey</a></h3></li>
            <li><a href="http://localhost:8081/api/v1/statistics">Требования на должность</a></li>
            <li><a href="http://localhost:8081/api/v1/plans">Посмотреть план изучения</a></li>
            <li><a href="http://localhost:8081/api/v1/tasks">Планировщик</a></li>
            <li><a href="http://localhost:8081/api/v1/questions">Вопросы</a></li>
            <li><a href="http://localhost:8081/api/v1/auth">Личный кабинет</a></li>
        </ul>
    </nav>
</header>

<main>
    <h4>Панель администратора</h4>

    <div class="form-container">

        <form id="updateForm" style="display;" th:action="@{/api/v1/statistics/updateData}" method="get">
            <h3>Обновить требования</h3>
            <button type="submit"  >Обновить</button>
            <div class="message-box" id="updateMessage"></div>
        </form>
    </div>


    <div id="textVac" th:each="vacancy : ${vacancies}">
        <p>По направлению: <span th:text="${vacancy.profession}"></span></p>
        <p>Найдено вакансий: <span th:text="${vacancy.numberVacancies}"></span></p>
        <p>Анализ проведен на основе <a th:href="${vacancy.url}">поискового запроса</a></p>
        <p>В данном разделе представлены часто требуемые навыки при поиске работы по данному направлению.</p>
    </div>

    <h3>Требуемые навыки</h3>
    <table id="id2">
        <thead>
        <tr>
            <th>№</th>
            <th>Навыки</th>
            <th>Упоминаний</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="skill : ${skills}">
            <td th:text="${skill.skillName}">Skill Name</td>
            <td th:text="${skill.skillCount}">Skill Count</td>
        </tr>
        </tbody>
    </table>
    <div id="pie">
        <canvas id="myChart"></canvas>
    </div>
</main>
<footer>
    <p id="foot">© 2024 OuroborosOdyssey. Все права защищены.</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
<script type="text/javascript"  th:src ="@{/js/statisticsJS.js}"></script>
</body>
</html>

