<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html" ; charset="UTF-8">
    <title>Список задач</title>
    <link rel="icon" th:src="@{/images/ourbor.png}"/>
    <!--    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" />-->
    <link th:href="@{/styles/tasksStyle.css}" rel="stylesheet" type="text/css" />

</head>
<body>
<header>
    <nav>
        <ul>
            <li><h3><a href="http://localhost:8081/api/v1/ouroboros">OuroborosOdyssey</a></h3></li>
            <li><a href="http://localhost:8081/api/v1/statistics">Требования на должность</a></li>
            <li><a href="http://localhost:8081/api/v1/plans">Посмотреть план изучения</a></li>
            <li><a href="http://localhost:8081/api/v1/tasks">Планировщик</a></li>
            <li><a href="http://localhost:8081/api/v1/questions">Вопросы</a></li>
            <li><a href="http://localhost:8081/api/v1/auth">Личный кабинет</a></li>

        </ul>
    </nav>
</header>
<main>
    <!-- Форма для добавления новой задачи Работает -->
    <div>
        <form th:action="@{/api/v1/tasks/create}" method="post">
            <h3>Добавить задачу</h3>
            <input type="text" name="title" placeholder="Название задачи"/>
            <textarea name="details" placeholder="Описание задачи"></textarea>
            <select name="priorities">
                <option value="LOW">Низкий</option>
                <option value="MEDIUM">Средний</option>
                <option value="HIGH">Высокий</option>
            </select>
<!--            <input type="checkbox" name="completed"/> Задача выполнена-->
            <button type="submit">Добавить</button>
        </form>

    </div>
    <!-- Форма для получения всех задач пользователя -->
    <div id="tasksContainer">
        <h3>Список задач</h3>
    </div>
    <div id="editFormContainer" >
        <input type="hidden" id="editTaskId">
        <input type="text" id="editTaskTitle" placeholder="Название задачи">
        <textarea id="editTaskDetails" placeholder="Описание задачи"></textarea>
        <select id="editTaskPriority">
            <option value="HIGH">Высокий</option>
            <option value="MEDIUM">Средний</option>
            <option value="LOW">Низкий</option>
        </select>
        <label for="editTaskCompleted">Задача выполнена:</label>
        <input type="checkbox" id="editTaskCompleted">
        <button type="button" onclick="submitEditForm()">Сохранить изменения</button>
        <button type="button" onclick="document.querySelector('#editFormContainer').style.display='none';">Отмена
        </button>
    </div>
</main>
<footer>
    <p id="foot">© 2024 OuroborosOdyssey. Все права защищены.</p>
</footer>
<script type="text/javascript" th:src="@{/js/tasksJS.js}"></script>

</body>
</html>