<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html" charset="UTF-8">
    <title>Статистика по вакансии</title>
    <!--  <link rel="icon"  th:src="@{/images/ourbor.png}" />-->
    <link th:href="@{styles/userStyle.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<header>
    <nav>
        <ul>
            <li><h3><a href="http://localhost:8081/api/v1/ouroboros">OuroborosOdyssey</a></h3></li>
            <li><a href="http://localhost:8081/api/v1/statistics">Требования на вакансии</a></li>
            <li><a href="http://localhost:8081/api/v1/plans">Посмотреть план изучения</a></li>
            <li><a href="http://localhost:8081/api/v1/tasks">Планировщик</a></li>
            <li><a href="http://localhost:8081/api/v1/questions">Вопросы</a></li>
            <li><a href="http://localhost:8081/api/v1/auth">Личный кабинет</a></li>

        </ul>
    </nav>
</header>

<main>
    <!-- profile.html -->
    <form action="#" th:action="@{/api/v1/auth/updateProfile}" method="post">
        <input type="text" name="username" th:value="${user.username}" required>
        <input type="email" name="email" th:value="${user.email}">
        <button type="submit">Update Profile</button>
    </form>

</main>

<footer>
    <p id="foot">© 2024 OuroborosOdyssey. Все права защищены.</p>
</footer>

<script>

</script>


</body>
</html>